@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');


* {
    box-sizing: border-box;
    /* color: white; */
    /* background-color: #1C1E1F; */
    font-family: 'Times New Roman', Times, serif;
    font-size: 12pt;
    line-height: 2;
}
body {
    margin-left: 4rem;
}

.page-index {
    text-align: right;
}

.head {
    text-decoration: underline;
    text-align: center;
}

.center-text {
    text-align: center;
}

.italic{
    font-style: italic;
}

.in-line-margin{
    margin: 2rem;
}


